.docSection {
  margin: 5rem 0;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textBlock {
  width: 50%;
}
.head {
  font-size: 2.6rem;
}
.description {
  color: var(--UnActive);
  margin: 1.8rem 0;
  font-weight: 500;
}
.greenText {
  display: flex;
  grid-gap: 1rem;
  align-items: center;
  color: var(--Primary);
  transition: 0.5s ease-in-out;
  width: fit-content;
  cursor: pointer;
}
.greenText:hover {
  transform: scale(1.2);
}
.docImg{
  width: 600px;
  border: 1px solid var(--UnActive);
  border-radius: 1.2rem;
}
@media (max-width: 1440px) {
  .docImg{
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .docSection {
    flex-direction: column-reverse;
    grid-gap: 2rem;
    padding-top: 3rem;
    margin: 1rem 0;
  }
  .docImg{
    width: 500px;
  }
  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .textBlock {
    width: 80%;
  }
  .head {
    font-size: 2.5rem;
  }
  .description {
    font-size: 18px;
    margin: 15px 0;
  }
  .greenText {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .docSection{
    padding-top: 8rem;
    grid-gap: 5rem;
  }
  .docImg {
    width: 450px;
  }
  .textBlock {
    width: 100%;
    grid-gap: 1.5rem;
  }
  .head {
    font-size: 2.8rem;
  }
  .description {
    font-size: 20px;
    margin: 0;
  }
  .greenText {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .docImg {
    width: 300px;
  }
  .head {
    font-size: 2.5rem;
  }
  .description {
    font-size: 16px;
  }
  .greenText {
    font-size: 16px;
  }
}
