.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: .5s;
  font-weight: bold;
  border-radius: .6rem;
  padding: 1rem 2.5rem;
  &.fill{
    color: white;
    background: var(--Primary);
  }
  &.inline{
    color: var(--Primary);
    border: 2px solid var(--Primary);
    background: transparent;
  }
}
.btn:hover{
  transform: scale(1.2);
  &.inline {
        color: white;
        background: var(--Primary);
      }
      &.fill {
      color: var(--Primary);
      background: transparent;
    }
}

@media (max-width: 1440px) {
  .btn {
      padding: 1rem 1.8rem;
  }
}

@media (max-width: 1024px) {
  .btn {
    padding: 1rem 1.2rem;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 1.5rem 3rem;
  }
}
